/* table of contents

    1. global styles

    2. typography

    3. components
      3.1. buttons


      */

/* ### Primary

- Cyan: hsl(180, 66%, 49%)
- Dark Violet: hsl(257, 27%, 26%)

### Secondary

- Red: hsl(0, 87%, 67%)

### Neutral

- Gray: hsl(0, 0%, 75%)
- Grayish Violet: hsl(257, 7%, 63%)
- Very Dark Blue: hsl(255, 11%, 22%)
- Very Dark Violet: hsl(260, 8%, 14%) */
:root {
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);

  --red: hsl(0, 87%, 67%);
  --lt-gray: rgb(240, 241, 246);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: var(--lt-gray);
}

.header {
  margin-top: 25px;
  margin-left: 25px;
}

.main {
  overflow: hidden;
}

.menu {
  text-align: right;
  color: var(--gray);
  transform: translateX(180px);
}

.main-bg {
  width: 500px;
  margin-top: 20px;
}

.landing {
  margin: 20px;
}

.landing-title {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.landing-description {
  margin-top: 5px;
  color: var(--gray);
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.action-btn {
  width: 200px;
  height: 60px;
  margin-top: 40px;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--cyan);
  color: white;
  font-size: 20px;
  font-weight: 700;
  border-radius: 50px;
  box-shadow: none;
  border-style: none;
}

.form-container {
  height: 150px;
  width: 300px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  background: var(--dark-violet);
  overflow: hidden;
}

.mobile-circle {
  position: relative;
  left: 85px;
  top: -130px;
  z-index: 0;
}

.shorten {
  z-index: 1;
  position: relative;
  height: 45px;
  width: 255px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  border-style: none;
  margin-top: 19px;
}

.shorten-btn {
  background: var(--cyan);
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.advanced-container {
  margin: 60px 0;
  font-size: 18px;
  text-align: center;
}

.advanced-description {
  font-weight: 500;
  color: var(--gray);
}

.circle {
  background: var(--dark-violet);
  width: 80px;
  height: 80px;
  border-radius: 50px;
  text-align: c;
  position: relative;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.lower-circle {
  top: -80px;
}

.box {
  width: 320px;
  height: 300px;
  margin: 100px 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  background: white;
}

.img {
  position: relative;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
}

.img-lower {
  top: -12px;
  z-index: 2;
}

.title {
  text-align: center;
  position: relative;
  top: -70px;
  font-size: 24px;
}

.description {
  position: relative;
  top: -70px;
  color: var(--gray);
  margin: 10px;
  text-align: center;
}

.line {
  background: var(--cyan);
  height: 600px;
  width: 8px;
  position: relative;
  top: -900px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.boost-container {
  background: var(--dark-violet);
  position: relative;
  top: -620px;
  height: 300px;
}

.boost-title {
  position: relative;
  top: -220px;
  color: white;
  font-size: 26px;
  text-align: center;
}

.btn-2 {
  top: -230px;
}

footer {
  position: relative;
  transform: translate(-50%, -50%);
  top: -370px;
  left: 50%;
  background: var(--very-dark-violet);
  text-align: center;
}

.footer-title {
  color: white;
  font-size: 30px;
  font-weight: 700;
}
